@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: black;
}
a{
    color: white;
    text-decoration: none;
}
.nav{
    position: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.nav .logo{
    font-size: 30px;
    font-weight: 700;
}
.nav ul {
    display: flex;
}
.nav ul li {
    list-style: none;
    margin-left: 35px;
}
.nav ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.nav ul li:hover a ,
.nav ul li.active a {
    color: #21bbf8ab
}
.Home{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 550px;
    width: 100%;
    padding:60px 9% 0;
    color: white;
}
.homeinfo h1{
    font-size: 55px;
}
.homeinfo h2 {
    font-size: 32px;
    margin-top: -10px;
}
.homeinfo h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #21bbf8ab;
    animation: display-text 6s linear  infinite ;
    animation-delay: calc(-4s*var(--i));
}
@keyframes display-text {
    25%,100% 
    {
        display: none;
    }

}
.homeinfo p {
    font-size: 16px;
    margin: 10px 0 25px;
}
.homeinfo .btnsci{
    display:flex;
    align-items: center;
}
.btn{
    display: inline-block;

    padding: 10px 30px;
    background-color:rgba(33, 187, 248, 0.671) ;
    border: 2px solid rgba(33, 187, 248, 0.671);
    border-radius: 40px;
    box-shadow:  0 0 10px rgba(33, 187, 248, 0.671);
    font-size: 14px;
    color: black;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    background-color:transparent ;
    color: rgba(33, 187, 248, 0.671) ;
    box-shadow:none;
}
  .btnsci .sci{
    display: flex;
    margin-top: 20px;

}
  .btnsci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid  rgba(33, 187, 248, 0.671);
    border-radius: 50%;
    font-size: 20px;
    color:  rgba(33, 187, 248, 0.671);
    margin: 0 8px;
    transition: .5s;
 }
   .btnsci .sci a:hover{
    background-color: rgba(33, 187, 248, 0.671)  ;
    color: black;
    box-shadow:  rgba(33, 187, 248, 0.671) ;
   }

 
.homeimg .imgbox {background-color: rgba(33, 187, 248, 0.671);
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
}
.homeimg .imgbox .imgitem {
    position: relative;
    width: 100%;
    background-color: black;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.homeimg .imgbox .imgitem img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
}

